@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title ?? "No Title Set")</title>
    @Styles.Render(BundleNames.BootStrapBase)
    @Styles.Render(BundleNames.SiteCss)
    
</head>
<body>
    <div class="container">
        <header class="page-header">
            <h1>ASP.NET MVC Rocks!</h1>
        </header>
        <nav>
            <ul class="nav nav-tabs nav-justified">
                <li><a href="/">Home</a></li>
                <li><a href="#">Something Else</a></li>
                <li><a href="#">Another Thing</a></li>
                <li><a href="#">Yet Another</a></li>
            </ul>
        </nav>
        <section>
            @RenderBody()
        </section>
    </div>
    <div class="container-fluid footer">
        <p>This is the footer.</p>
    </div>
</body>
</html>
